
h1 {
    color: black;
    text-align: center;
}

p {
    color: black;
    text-align: center;
}

button {
    text-align: center;
}

.song {
    align-items: center;
}

.image {
    position: relative;
    text-align: center;
    color: white;
  }

audio {
    margin: 35px;
}

.centered {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .container {
      background-color: white;
      border: solid 10px gold;
      padding: 20px;
  }


#quest {
    text-align: center;
    background-color: white;
    color: black;
    border: solid red 3px;
    padding: 25px;
    text-size-adjust: auto;
    text-emphasis: bold;
}

#results {
    background-color: teal;
}

#options {
    align-content: center;
    padding: 5px;
    margin: 15px;
    border: solid red 3px;

    
}
